.selections {
    position: absolute;
    top: 0;
    z-index: 10000;
    display: none;
}

.selections.show {
    display: block;
}

.selector {
    position: absolute;
}

.selector > .text-cursor {
    position: absolute;
    background: transparent;
    width: 0.4em;
    transform: translateX(-50%);
}

.selector > .bottom-cursor {
    position: absolute;
    background: var(--primary-color);
    height: 1.2em;
    width: 1.2em;
    border-radius: 0 50% 50% 50%;
}

.selector-menu {
    position: fixed;
    display: none;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    background: var(--background-color-hover);
    border-radius: 0.75rem;
    max-width: 75vw;
    width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10000000;
}

.selector-menu.show {
    display: flex;
}

.selector-menu-item {
    height: 100%;
    white-space: nowrap;
    color: var(--text-color);
    font-size: 0.8em;
    padding: 0 0.5em;
}
