.selections {
    position: absolute;
    top: 0;
    z-index: 10000;
    display: none;
}

.selections.show {
    display: block;
}

.selector {
    position: absolute;
}

.selector > .text-cursor {
    position: absolute;
    background: transparent;
    width: 0.4em;
    transform: translateX(-50%);
}

.selector > .bottom-cursor {
    position: absolute;
    background: var(--primary-color);
    height: 1.2em;
    width: 1.2em;
    border-radius: 0 50% 50% 50%;
}

.selector-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    background: var(--background-color);
    border: var(--border);
    border-color: var(--background-color-hover);
    border-radius: 1rem;
    max-width: 90vw;
    width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 60000000;
}

.selector-menu.show {
    display: flex;
    gap: 0.4rem;
}

.selector-menu-item {
    height: 100%;
    white-space: nowrap;
    color: var(--text-color);
    font-size: 0.8rem;
    padding: 0 0.2rem;
}
