:root {
    --top-z-index: 1000000;
    --primary-color: #1E90FF;
    --danger-color: #F56C6C;
    --warning-color: #E6A23C;
    --success-color: #67C23A;

    --text-color: #151515;
    --comment-color: #1f1f1f;
    --border-color: #555;
    --background-color: #eee;
    --background-color-hover: #ccc;
    --mask-color: rgba(0, 0, 0, 0.1);
    --highlight-color: var(--primary-color);
    --border: 1px solid var(--border-color);
    --border-radius: 0.5em;

    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #ddd;
    --scrollbar-thumb-color-hover: #bbb;

    --split-color: #eee;
    --split-color-hover: #ccc;

    --icon-color: #666;
    --icon-color-light: #999;
    --icon-size: 1rem;

    color: var(--text-color);
    background-color: var(--background-color);
}

:root.dark {
    --text-color: #ccc;
    --comment-color: #777;
    --border-color: #ccc;
    --background-color: #333;
    --background-color-hover: #444;

    --scrollbar-track-color: #444;
    --scrollbar-thumb-color: #666;
    --scrollbar-thumb-color-hover: #999;

    --split-color: #555;
    --split-color-hover: #888;

    --icon-color: #bbb;
    --icon-color-light: #666;
}
